html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #ecf0f1 !important;
}
.display-header {
    font-size: 1.2rem;
}
.page-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5rem;
}
.white-bg-container {
    background: white !important;
    padding: 1rem;
    margin-top: 2.8rem;
}
.long-col{
    min-width: 200px;
}
.accordion-details{
    text-align: left !important;
}
.custom-badge {
    background: #27ae60;
    color: white;
    font-size: 1.1rem;
    border-radius: .6rem;
    padding: .4rem .6rem;
}
.bugs-badge {
    background: #e74c3c;
}
.list-detail {
    background: #ecf0f1 !important;
    padding: .7rem;
    font-weight: 400;
}
.detail-description{
    margin-left: 1.6rem;
}
.td-below{
    display: block;
    width: 100%;
    outline: 1px dashed green;
    min-height: 100px;
}
.move-left{
    font-size: .8rem;
    color: grey;
    margin-right: 1rem;
    margin-left: 1rem;
}
.up {
    margin-right: 0;
    margin-left: 4rem;
    margin-top: -1rem;
    font-size: .8rem;
    color: grey;
}
.smaller-h6{
    font-size: .9rem;
}