@page "/Create/{IncrementCount?}"
@model taskui.Pages.CreatePageModel
@using Syncfusion.EJ2.RichTextEditor

@{
    ViewData["Title"] = "Create Page";
}
<div class="white-bg-container">
    @*
        <component>@(await Html.RenderComponentAsync<Counter>(RenderMode.Server))</component>
    *@

    <div class="input-group mb-2">
    </div>

    <p class="page-title">
        Fill up form
    </p>

    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Release Number</label>
        <input value="Release number here..." id="ReleaseName" type="text" class="form-control" placeholder="Release Name">
    </div>
    <div class="form-group mt-3">
        <label for="exampleInputPassword1">Release Date</label>
        <input value="2020-02-02" id="ReleaseDate" type="date" class="form-control" placeholder="Release Date">
    </div>
    <div class="form-group mt-3">
        <label for="exampleInputPassword1">Description</label>
        <input value="Description here..." id="ShortDescription" type="text" class="form-control" placeholder="Short Description">
    </div>
    <div class="form-floating mt-4">
        <textarea textcontent="test value here change this" id="LongDescription" 
            class="form-control" placeholder="Description here" style="height: 100px"
        >Long description here...
        </textarea>
        <label for="floatingTextarea2">Long Description</label>
    </div>
    @*
        <button id="addDetailBtn" type="button" class="mt-4 btn btn-dark">Add Detail</button>
        <ul id="addDetailsContainer" class="mt-3 list-group">
        </ul>
    *@
    <a class="btn btn-dark mt-3" href="/Create/@(Model.IncrementCount + 1)">Add a detail</a>

    @for (int i = 0; i < Model.IncrementCount; i++)
    {
        string defaultString = $"default-{i}";
        <div class="mt-3 RTE-container">
            <div class="input-group mb-3">
                <span class="input-group-text">@(i + 1)</span>
                <select class="form-select selectedTypeSelect" aria-label="Default select example">
                    <option selected value="1">Enhancements</option>
                    <option value="2">Bug Fixes</option>
                </select>
                <input value="Detail name here..." type="text" class="form-control detailNameInput" placeholder="Detail Title" aria-label="Username">
            </div>
            <ejs-richtexteditor class="" id="@defaultString" value="<h4>Detail Description here...</h4>">
            </ejs-richtexteditor>
        </div>
    }

    <button id="submitBtn" data-btnType="createBtnSubmit" class="btn btn-primary mt-3">Submit</button>
</div>

<ejs-scripts></ejs-scripts>