@page
@model taskui.Pages.SearchPageModel
@{
    ViewData["Title"] = "Search Page";
}

<h1 class="display-5 mt-4">Fill up form</h1>
<form>
    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Todo 1</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Todo 1">
    </div>
    <div class="form-group mt-3">
        <label for="exampleInputPassword1">Todo 2</label>
        <input type="text" class="form-control" placeholder="Todo 2">
    </div>
    <div class="form-group mt-3">
        <label for="exampleFormControlSelect1">Todo 3</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group mt-3">
        <label for="exampleInputPassword1">Todo 4</label>
        <input type="text" class="form-control" placeholder="Todo 4">
    </div>
    <div class="form-group mt-3">
        <label for="exampleInputPassword1">Todo 5</label>
        <input type="text" class="form-control" placeholder="Todo 5">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>